<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>guess for {{name}}</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
<h1>Hello {{ name.title() }} !</h1>
<h2>Most people with your name is {{age}} years old</h2>
<h2>There is {{genderP}} that your name is {{gender}}</h2>
<h3>Your name is popular in the following countries</h3>
<p>{{countries}}</p>
</body>
<hr>
<footer>
    <p>Copyright {{ year }} Som-Subhra</p>
</footer>
</html>