<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Som's Contact info</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Contact:</h1>
    <p>My Fictional Adresss</p>
    <p>My phone- 0989775654246</p>
    <p>myemail@email.com</p>
    <hr>

    <form action=mailto:somdevalmighty@gmail.com?subject="web-feedback" method="post"enctype="text/Plain">
      <label>Your Name :</label>
      <input type="text" name="" value=""><br>
      <label>Your Email :</label>
      <input type="email" name="" value=""><br>
      <label>Your Message:</label><br>
      <textarea name="name" rows="8" cols="30"></textarea>
      <input type="submit" name="" value=""><br>

    </form>
  </body>
</html>
