<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Som's Reprise-(Plain HTML)</title>
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <table cellspacing='30'>
    <tr>
      <td><img class="profile_pic" src="static/images/som.png" alt=""></td>
      <td>
        <h1><a href="http://somsubhra.ezyro.com/">Som Subhra Pandit</a></h1>
        <h2>Engineer-Developer-Designer</h2>
        <h4>Founder/CEO- <i><strong><a href="apisod.com">Apisod.com</a></strong></i></h4>
        <p>A mechanical Engineering Student by education and a designer and Film maker by passion.</p>
        <p>I 💕 to Hike to unknown places and experience new and exciting cuisines and cultures</p>
        <a href="ContactMe.html">Contact Me</a>
      </td>
    </tr>
  </table>

  <hr size='3'>
  <h3>Education:</h3>
  <ul>
    <table cellspacing=10>
      <thead>
        <th>Year</th>
        <th>Institute</th>
      </thead>
      <tr>
        <td>(2015-2019)</td>
        <td><i>Kalinga Institute of Industrial Technology</i></td>
      </tr>
      <tr>
        <td>(2012-2014)</td>
        <td><i>Satyanarayan Achademy</i></td>
      </tr>
      <tr>
        <td>(2012-2014)</td>
        <td><i>St.Xavier's School</i></td>
      </tr>
    </table>
  </ul>
  <hr>
  <h3>Hobbies</h3>
  <li>Football ⚽</li>
  <li>Filmmaking 🎥</li>
  <li>Graphics Design 🖼</li>
  <hr>
  <h3>Work Experiences</h3>
  <table>
    <thead>
      <th>Date</th>
      <th>Instititution</th>
      <th>Position</th>
    </thead>
    <tr>
      <td>(2019-Present)</td>
      <td>Wipro Ltd.</td>
      <td>Network Administrator</td>
    </tr>
    <tr>
      <td>(2017-18)</td>
      <td>Augay ltd</td>
      <td>Graphics Designer</td>
    </tr>
  </table>
  <hr>
  <h3>Skills</h3>
  <table cellspacing='20'>
    <thead>
      <th>Skill</th>
      <th>Level</th>
    </thead>
    <tr>
      <td>Network Security</td>
      <td>⭐⭐⭐⭐</td>
    </tr>
    <tr>
      <td>Vulnerability Management</td>
      <td>⭐⭐⭐</td>
    </tr>
    <tr>
      <td>Web Designing</td>
      <td>⭐⭐⭐⭐</td>
    </tr>
    <tr>
      <td>Video Editing</td>
      <td>⭐⭐⭐⭐⭐</td>
    </tr>
  </table>
</body>

</html>
